---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---


<!DOCTYPE html>
<html
>
  <Header title="Raul Cano Portolés" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Hi, I’m Raul Cano<br />Junior Game & <br />Software Developer</h1>
              <p class="lead">
                C# / C++ | Unity & Unreal | VR Enthusiast <br /> Building immersive experiences and efficient gameplay systems.
              </p>
              <br />
            <div class="button-container">
              <!-- Botón que lleva a la sección de proyectos -->
              <a href="/personal-projects" class="button w-button">View Portfolio</a>

              <!-- Botón que abre el CV en PDF -->
              <a href="/assets/CV_RaulCano.pdf" class="button w-button">Download CV</a>

              <!-- Botón que lleva a LinkedIn -->
              <a href="https://www.linkedin.com/in/raul-cano-portol%C3%A9s/" 
                class="button w-button" target="_blank">
                LinkedIn
              </a>

              <!-- Botón que lleva al email -->
               <a href="/contact"
                class="button w-button">
                Contact Me
              </a>
            </div>
          </main>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>