---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---


<!DOCTYPE html>
<html
>
  <Header title="Raul Cano Portolés" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Hi, I’m Raul Cano<br />Junior Game & <br />Software Developer</h1>
              <p class="lead">
                C# / C++ | Unity & Unreal | VR Enthusiast <br /> Building immersive experiences and efficient gameplay systems.
              </p>
              <br />
            <div class="button-container">
              <!-- Botón que lleva a la sección de proyectos -->
              <a href="/projects" class="button w-button">View Portfolio</a>

              <!-- Botón que abre el CV en PDF -->
              <a href="/assets/CV_RaulCano.pdf" class="button w-button">Download CV</a>

              <!-- Botón que lleva a LinkedIn -->
              <a href="https://www.linkedin.com/in/raul-cano-portol%C3%A9s/" 
                class="button w-button" target="_blank">
                LinkedIn
              </a>

              <!-- Botón que lleva al email -->
               <a href="mailto:rcportoles@gmail.com?subject=Job%20Opportunity%20-%20Portfolio%20Raul%20Cano&body=Hello%20Raul,%0D%0A%0D%0AI%20saw%20your%20portfolio%20and%20would%20like%20to%20contact%20you%20about...%0D%0A%0D%0ARegards,"
                class="button w-button">
                Contact Me
              </a>
            </div>
          </main>
          <div class="projects-section">
            <!-- Software Development -->
            <a href="/software-development" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img src="./assets/browser.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Game & Software Development</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Technologies &amp; Tools</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Unity</div>
                    <div class="single-chip small-chip">C#</div>
                    <div class="single-chip small-chip">C++</div>
                    <div class="single-chip small-chip">.NET</div>
                    <div class="single-chip small-chip">Python</div>
                    <div class="single-chip small-chip">Unreal Engine (C++ / Blueprints)</div>
                    <div class="single-chip small-chip">VR SDKs (Oculus, OpenXR)</div>
                    <div class="single-chip small-chip">Git / GitHub</div>
                    <div class="single-chip small-chip">SQL Databases</div>
                    <div class="single-chip small-chip">Java</div>
                    <div class="single-chip small-chip">Android Studio</div>
                    <div class="single-chip small-chip">REST APIs</div>
                  </div>
                </div>
              </div>
            </a>
            <!-- DevOps & Cloud -->
            <a href="/devops" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container devops-img">
                  <img src="./assets/database.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Build &amp;&nbsp;Pipeline / Tools</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Technologies &amp; Tools</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">CI/CD (custom scripts, build automation)</div>
                    <div class="single-chip small-chip">Cloud integration (basic)</div>
                    <div class="single-chip small-chip">Hardware integration (sensors / input devices)</div>
                    <div class="single-chip small-chip">Debugging & Optimization</div>
                    <div class="single-chip small-chip">Version control (Git, GitHub)</div>
                    <div class="single-chip small-chip">Agile / Scrum basics</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>