---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
---

<!DOCTYPE html>
<html lang="en">
  <Header title="Skills | Raul Cano Portolés" />
  <body>
    <div class="content">
      <Sidebar selectedItem="skills" />

      <main class="main">
        <div class="container">
          <h1>Skills</h1>

          <section class="skills-section">

            <div class="skills-category">
                <h3>Programming Languages</h3>
                <div class="chips-container">
                <div class="single-chip">C#</div>
                <div class="single-chip">C++</div>
                <div class="single-chip">Python</div>
                <div class="single-chip">.NET</div>
                <div class="single-chip">lua</div>
                <div class="single-chip">Java</div>
                <div class="single-chip">bash</div>
                </div>
            </div>

            <div class="skills-category">
                <h3>Game Engines</h3>
                <div class="chips-container">
                <div class="single-chip">Unity</div>
                <div class="single-chip">Unreal Engine 4</div>
                <div class="single-chip">Unreal Engine 5</div>
                </div>
            </div>

            <div class="skills-category">
                <h3>3D & Content Creation</h3>
                <div class="chips-container">
                <div class="single-chip">Blender</div>
                <div class="single-chip">3DS Max</div>
                </div>
            </div>

            <div class="skills-category">
                <h3>Mobile Development</h3>
                <div class="chips-container">
                <div class="single-chip">Android Studio</div>
                <div class="single-chip">Android SDK</div>
                </div>
            </div>

            <div class="skills-category">
                <h3>Tools</h3>
                <div class="chips-container">
                <div class="single-chip">Git</div>
                <div class="single-chip">Visual Studio</div>
                <div class="single-chip">VS Code</div>
                <div class="single-chip">Sublime Code</div>
                <div class="single-chip">Jira</div>
                <div class="single-chip">Trello</div>                
                <div class="single-chip">Net Beans</div>                
                </div>
            </div>

            <div class="skills-category">
                <h3>Specializations</h3>
                <div class="chips-container">
                    <div class="single-chip">Gameplay Programming</div>
                    <div class="single-chip">VR Development</div>
                    <div class="single-chip">Interactive Systems</div>
                    <div class="single-chip">Game Mechanics Design</div>

                    <div class="single-chip">Performance Optimization</div>
                    <div class="single-chip">Memory Management Basics</div>
                    <div class="single-chip">Input Systems</div>
                    <div class="single-chip">Debugging & Profiling</div>

                    <div class="single-chip">Player Experience Design</div>
                    <div class="single-chip">UI/UX for Games</div>
                    <div class="single-chip">Feedback Systems (VFX/Audio)</div>
                </div>
                </div>


            </section>

        </div>
      </main>
    </div>
  </body>
</html>
