---
const { selectedItem } = Astro.props;
---

<aside
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="sidebar w-nav"
>
  <div class="nav-content">
    <a href="/" class="w-nav-brand" aria-label="home">
      <div class="niv-data">
        <img
          src="/assets/raul.png"
          loading="eager"
          alt="Profile picture"
          class="niv-image"
        />
        <div>
          <div class="label-white">Raul Cano Portolés</div>
          <div class="label-gray">Junior Game &AMP; Software Developer</div>
        </div>
      </div>
    </a>

    <nav role="navigation" class="w-nav-menu">
      <a
        href="/"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'home' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/home.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Home</div>
      </a>
      <a
        href="/professional-profile"  data-astro-reload
        class={`nav-link-container w-inline-block ${
          selectedItem === 'professional-profile' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/dns.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Professional Profile</div>
      </a>
      <a
        href="/experience"  data-astro-reload
        class={`nav-link-container w-inline-block ${
          selectedItem === 'experience' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/experience.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Experience/Background</div>
      </a>
      <a
        href="/personal-projects"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'personal-projects' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/favorite.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Personal projects</div>
      </a>
      <a
        href="/skills"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'skills' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/skills.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Skills</div>
      </a>
      <a
        href="/about"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'about' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/aboutme.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>About me</div>
      </a>
      <a
        href="/contact"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'contact' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/contact.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Contact</div>
      </a>
    </nav>

    <div
      class="navbar-icon-button w-nav-button"
      style="-webkit-user-select: text;"
      aria-label="menu"
      role="button"
      tabindex="0"
    >
      <img
        src="/assets/menu.svg"
        loading="eager"
        alt=""
        class="navbar-icon"
      />
    </div>
  </div>

  <script>
    import { setupNav } from '../scripts/nav.js';
    
    let cleanup;
    document.addEventListener('astro:page-load', () => {
      if (cleanup) cleanup();
      cleanup = setupNav();
    });

    document.addEventListener('astro:before-swap', () => {
      if (cleanup) cleanup();
    });
  </script>
</aside>
